@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
:root {
  --primary-color: #c7c7c7;
  --primary-color-dark: #a5a4a4;
  --primary-sucess: #7ec789;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 20px auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}
.form-box {
  padding: 5px 20px;
}
.form-box input,
.form-box label,
.form-box button,
.form-box .message {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.form-box input {
  font-size: 2em;
  padding: 10px 20px;
}

.form-box input:focus {
  outline: 1px solid var(--primary-sucess);
}

.form-box button {
  border: none;
  background-color: var(--primary-color);
  padding: 20px 20px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.form-box button:hover {
  background-color: var(--primary-sucess);
}

.imc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-box .message {
  /* background-color: #ff00005d;
  padding: 2px 20px; */
}

.sucess,
.fail {
  padding: 5px 20px;
}

.sucess {
  background-color: #7ec789;
}

.fail {
  background-color: #f3a7a7;
}
